<ion-header class="ion-no-border" color="dark">
  <ion-toolbar color="dark">
    <br>
    <ion-searchbar animated mode="ios" [value]="searchResult" [(ngModel)]="searchResult"></ion-searchbar>
  </ion-toolbar>
  <ion-toolbar color="dark">
    <ion-buttons slot="end">
      <ion-button color="danger" fill="clear" routerLink="/home">
        Reportes diarios
      </ion-button> 
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content color="dark">
  <app-skeleton [show]="showSkeleton" [arr]=[1,1,1,1,1,1,1,1]></app-skeleton>

  <app-countries *ngIf="!showSkeleton" [allcases]="allCases"
  [searchs]="searchResult"></app-countries>
</ion-content>
