<ion-header class="ion-no-border">

  <ion-toolbar  color="dark" mode="ios">
    <ion-title class="animate">{{ data }}</ion-title>

    <ion-buttons slot="start" mode="md">
      <ion-button color="danger" fill="clear" (click)="closeModals()"> 
        <ion-icon slot="icon-only" name="chevron-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>

  </ion-toolbar>

</ion-header>

<ion-content color="dark">
  <!-- <ion-card mode="ios" color="dark" class="animate">
    <ion-card-content color="dark" class="animate">
      <ion-img [src]="imageCountry"></ion-img>
    </ion-card-content>
  </ion-card>
  <ion-list color="dark" mode="ios">

    <ion-item color="dark">
      <ion-label class="animate">Nuevos confirmados
        <p>{{data.CountryCode}}</p>
      </ion-label>
      <ion-badge slot="end" color="danger">+{{data.NewConfirmed| number}}</ion-badge>
    </ion-item>

    <ion-item color="dark">
      <ion-label class="animate">Date
        <p>{{data.CountryCode}}</p>
      </ion-label>
      <ion-badge slot="end" color="danger">{{data.Date| date}}</ion-badge>
    </ion-item>

    <ion-item color="dark">
      <ion-label class="animate">Nuevos recuperados
        <p>{{data.CountryCode}}</p>
      </ion-label>
      <ion-badge slot="end" color="tertiary">+{{data.NewRecovered| number}}</ion-badge>
    </ion-item>

    <ion-item color="dark">
      <ion-label class="animate">Nuevas muertes
        <p>{{data.CountryCode}}</p>
      </ion-label>
      <ion-badge slot="end" color="danger">{{data.NewDeaths| number}}</ion-badge>
    </ion-item>

    <ion-item color="dark">
      <ion-label class="animate">Muertes total
        <p>{{data.CountryCode}}</p>
      </ion-label>
      <ion-badge slot="end" color="danger">{{data.TotalDeaths| number}}</ion-badge>
    </ion-item>

    <ion-item color="dark">
      <ion-label class="animate">Total confirmados
        <p>{{data.CountryCode}}</p>
      </ion-label>
      <ion-badge slot="end" color="danger">{{data.TotalConfirmed | number}}</ion-badge>
    </ion-item>

    <ion-item color="dark">
      <ion-label class="animate">Total recuperados
        <p>{{data.CountryCode}}</p>
      </ion-label>
      <ion-badge slot="end" color="tertiary">{{data.TotalRecovered| number}}</ion-badge>
    </ion-item>

  </ion-list> -->
</ion-content>