<ion-header class="ion-no-border">
  <ion-toolbar mode="ios" color="dark">
    <ion-title>Reporte global</ion-title>
  </ion-toolbar>
</ion-header>

<section class="rotateImg">
  <ion-img src="../../assets/icon/covid.svg"></ion-img>
</section>
  <ion-list  color="dark">
    
    <ion-item  color="dark">
      <ion-label>Nuevas muertes</ion-label>
      <ion-note  slot="end" color="light"> {{ global.NewDeaths |  number}}</ion-note>
    </ion-item>

    <ion-item color="dark">
      <ion-label>Nuevos confirmados</ion-label>
      <ion-note slot="end" color="light"> {{ global.NewConfirmed |  number}}</ion-note>
    </ion-item>

    <ion-item color="dark">
      <ion-label>Nuevos recuperados</ion-label>
      <ion-note slot="end" color="light"> {{ global.NewRecovered |  number}}</ion-note>
    </ion-item>

    <ion-item color="dark">
      <ion-label>Total confirmados</ion-label>
      <ion-note slot="end" color="light"> {{ global.TotalConfirmed |  number}}</ion-note>
    </ion-item>

    <ion-item color="dark">
      <ion-label>Total recuperados</ion-label>
      <ion-note slot="end" color="light"> {{ global.TotalConfirmed |  number}}</ion-note>
    </ion-item>

    <ion-item color="dark">
      <ion-label>Muertes totales </ion-label>
      <ion-note slot="end" color="light"> {{ global.TotalDeaths |  number}}</ion-note>
    </ion-item>

  </ion-list>
 
  <ion-button  mode="ios" expand="block" color="danger" (click)="toAll()">
    <ion-ripple-effect></ion-ripple-effect>
    Explorar 
    <ion-icon name="chevron-forward-outline"></ion-icon>
  </ion-button>