.rotateImg{
    text-align: center;
    display: flex;
    margin:30px 0 20px 0;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    height: 80px;
  }
  .rotateImg ion-img{
    width: 90px !important;
  }
  .list__global{
     min-width:355px;
  }
  .list__global ion-item{
    padding: 10px 0 !important;
    background-color: aliceblue;
    border:  none !important;
  }
  .list__global ion-item ion-badge{
    border:none !important;
    padding: 10px !important;
    font-size: 15px;
    
  }
  .list__global, .exploreButton {
    max-width: 700px !important
  }
 


.exploreButton {
  min-width: 340px;
 
}
