<ion-header class="ion-no-border" color="dark">

  <ion-toolbar mode="ios" color="dark">
    <ion-title class="animate">Reporte global</ion-title>
  </ion-toolbar>
</ion-header>

<section class="rotateImg animate">
  <ion-img class="animate" src="../../assets/icon/covid.svg"></ion-img>
</section>

<app-skeleton [show]="showSkeleton"></app-skeleton>
  <ion-list  color="dark" *ngIf="!showSkeleton">
    
    <ion-item  color="dark">
      <ion-label class="animate">Nuevas muertes</ion-label> 
      <ion-badge slot="end" color="danger"> +{{ global.NewDeaths |  number}}</ion-badge>
    </ion-item>

    <ion-item color="dark">
      <ion-label class="animate">Nuevos confirmados</ion-label>
      <ion-badge slot="end" color="danger"> +{{ global.NewConfirmed|  number}}</ion-badge>
    </ion-item>

    <ion-item color="dark">
      <ion-label class="animate">Nuevos recuperados</ion-label>
      <ion-badge slot="end" color="tertiary"> +{{global.NewRecovered |  number}}</ion-badge> 
    </ion-item>

    <ion-item color="dark">
      <ion-label class="animate">Total confirmados</ion-label> 
      <ion-badge slot="end" color="danger"> +{{global.TotalConfirmed |  number}}</ion-badge> 
    </ion-item>

    <ion-item color="dark">
      <ion-label class="animate">Total recuperados</ion-label>
      <ion-badge slot="end" color="tertiary"> {{global.TotalConfirmed  |  number}}</ion-badge>
    </ion-item>

    <ion-item color="dark">
      <ion-label class="animate">Muertes totales </ion-label> 
      <ion-badge slot="end" color="tertiary"> {{global.TotalDeaths | number}}</ion-badge>
    </ion-item>

  </ion-list>
 
  <ion-button class="animate" mode="ios" expand="block" color="danger" (click)="toAll()">
    <ion-ripple-effect></ion-ripple-effect>
    Explorar 
    <ion-icon name="chevron-forward-outline"></ion-icon>
  </ion-button>