
<section class="listAll ">
 
  <!--  -->
  <ion-list class="center__list__countries"  *ngFor="let country of allcases"  (click)="openModalCountry(country)" >
  
    <ion-thumbnail slot="start">
      <!-- <ion-img src="https://flagsapi.com/"+country.flag+"/flat/64.png"></ion-img> -->
    </ion-thumbnail>
   
    <ion-item class="animate" >
  
      <ion-label class="animate">{{ country.name['common'] }}
        <p>{{country.flag}}</p>
      </ion-label>
  
    </ion-item>
  </ion-list>  
</section>

<ion-infinite-scroll threshold="100px" (ionInfinite)="getByScroll($event)" color="primary">
  <ion-infinite-scroll-content loadSpinner="crescent" color="primary">

  </ion-infinite-scroll-content>
</ion-infinite-scroll>
<style>
  .center__list__countries{
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }
</style>